<!-- TODO: UI  -->
<%= form_for(Contact.new) do |f| %>

	<div>
	<%= f.label :first_name %><br>
	<%= f.text_field :first_name %>
	</div>
	<div>
	<%= f.label :last_name %><br>
	<%= f.text_field :last_name %>
	</div>
	<div>
	<%= f.label :email %><br>
	<%= f.text_field :email %>
	</div>
	<div>
	<%= f.label :telephone %><br>
	<%= f.text_field :telephone %>
	</div>
	<div>
	<%= f.label :company %><br>
	<%= f.text_field :company %>
	</div>
	<div>
	<%= f.label :kind %><br>
	<%= f.select :kind, ["", "Complaint", "Consultant", "Suggestion"], {} %>
	</div>
	<div>
	<%= f.label :content %><br>
	<%= f.text_area :content %>
	</div>
	<div>
	<%= f.label :heard_about_us %><br>
	<%= f.select :heard_about_us, ["", "News/Magzine", "Weibo/wechat/facebook", "HaiyanTour Website, Newsletter", "Conference", "Other"], {} %>
	</div>
		<%= f.submit "Submit" %>
	</div>
<% end %>

