<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-language" content="zh" />
		<%= stylesheet_link_tag "discovery.css" %>
		<%= stylesheet_link_tag "stapel.css" %>
	</head>
	<body>
		<div class="page">
			<!-- FOOD -->
			<div class="food">
				<ul class="mh-menu">
					<li>
						<a href="#">
							<span>面拖黄夹蟹</span>
						</a>
						<div
							class="caption"
							data-title="面拖黄夹蟹"
							data-description="未达成熟期的黄夹蟹,体内水分较多,蒸食或水煮会使营养成分随水流失,其味也大为逊色。海盐有一种经济实惠的吃法就是面拖黄夹蟹。做这道菜要用到黄夹蟹、鸡蛋、面粉和相关调料。这个蟹最好三两左右的，这时候的蟹壳薄肉鲜膏多，太大了壳就显厚了，不容易捣碎和入味。把蟹洗净后切块,糊上面湖,逐个放入热油锅内,煎至略黄色,最后一并加入适量的酒、葱、姜、酱油、盐和水烧熟即可。">
							<%= image_tag "1.png" %>
						</div>
					</li>
					<li>
						<a href="#">
							<span>海盐天宝</span>
						</a>
						<div
							class="caption"
							data-title="海盐天宝"
							data-description="海盐天宝是海盐民间一道地方特色菜，口感嫩脆，香味浓郁，源料来自猪经阉割后切除的部位。这道菜的制作，主要是第一步，要处理得干净，下锅前，锅要烧得很烫，将油熬透。下锅后进行煸炒，然后按次序放黄酒去腥，放啤酒使口感更嫩些，放香味如葱等，再加姜，继续煸炒至透，即可起锅装盘。周边食客经常慕名前来品尝。海盐民间流传吃法有：红烧天宝、天宝汤、白灼天宝、葱煸天宝。">
							<%= image_tag "2.png" %>
						</div>
					</li>
					<li>
						<a href="#">
							<span>奶香紫薯泥</span>
						</a>
						<div
							class="caption"
							data-title="奶香紫薯泥"
							data-description="奶香紫薯泥这道菜色泽诱人、香气沁人，从外观上就直接激发了吃客的食欲。原料直接选自海盐本地产的紫薯，既具地方特色，又有极高的营养和药用价值。紫薯（学名：Ipomoea batatas）又叫黑薯，英文名称Purple Potato，薯肉呈紫色至深紫色。它除了具有普通红薯的营养成分外，还含有多糖、黄酮类物质，并且还富含硒元素和花青素，具有预防高血压、减轻肝机能障碍等功能，还有很好的抗癌功能。花青素对100多种疾病有预防和治疗作用，被誉为继水、蛋白质、脂肪、碳水化合物、维生素、矿物质之后的第七大必需营养素。">
							<%= image_tag "3.png" %>
						</div>
					</li>
					<li>
						<a href="#">
							<span>千亩荡双鲜合蒸</span>
						</a>
						<div
							class="caption"
							data-title="千亩荡双鲜合蒸"
							data-description="原料选自千亩荡水域中的白条鱼、螺丝搭配火腿，蒸制而成。千亩荡水域面积为1.02平方公里，平均水深3米。千亩荡有9条河道通往外港，东接盐嘉塘，北连大横港，西接百步港，并与西南的长山河相连，无论是水量还是水质都比较理想。千亩荡清澈的水域养育的白条鱼和螺丝两种原料结合在一起，烹制的这道菜地方特色鲜明，搭配火腿真正做到了鲜上鲜。">
							<%= image_tag "4.png" %>
						</div>
					</li>
					<li>
						<a href="#">
							<span>南北湖盐炒肉</span>
						</a>
						<div
							class="caption"
							data-title="南北湖盐炒肉"
							data-description="是我县澉浦一带民间特色菜。做法是：将带皮的五花肉，切成一段一段的，洗净沥干，把锅子烧热，直接把肉块放到锅子里面，不用放油，然后放一勺盐，一般一个大碗的肉放一勺盐，再放一点椒盐粉，一起翻炒，直至生肉的颜色变色，然后乘起，放在碗里，放生姜丝+料酒，隔水蒸30分钟左右。该菜盐香扑鼻，入口肥而不腻。">
							<%= image_tag "5.png" %>
						</div>
					</li>
					<li>
						<a href="#">
							<span>桔香咕噜肉</span>
						</a>
						<div
							class="caption"
							data-title="桔香咕噜肉"
							data-description="桔香咕噜肉取用南北湖山林中最上等的柑桔（黄沙坞蜜桔），搭配猪后腿肉精心制作。柑桔的酸甜融合进肉味中，口感香鲜，回味无穷。<br>南北湖有多种多样的土特产品。当地有“春茶秋橘冬鸟腊，夏至杨梅满山红，桃熟笋肥枇杷黄，松花寒露两覃鲜”之说，其中最有名的是黄沙坞的蜜桔。黄沙坞，位置得天独厚，冬暖夏凉，土壤咸湿，产桔已有700多年的历史，被誉为“浙北桔乡”。所产柑桔色泽金黄、甘甜味美，肉厚多汁，俗称“本山蜜橘”。每到丰收时节，满山金黄，香飘数里，与青山叠翠相映成趣，整个景区都被浸入了甜蜜的汁水中。每年10月初至11月底，南北湖风景区都会推出金秋采桔活动，有橘园赏橘、采橘、品橘等趣味活动，游客可以挎个竹篮踱进桔园，一边赏桔，一边亲手采摘树头鲜的美味，可以尽情在“世外桔源”里体验一回桔农的快乐。每当黄沙坞蜜桔成熟时节，桔农们就会用自家的蜜桔烹制桔香咕噜肉，用来庆祝丰收，同时也用来招待亲朋好友。">
							<%= image_tag "6.png" %>
						</div>
					</li>
					<li>
						<a href="#">
							<span>南北湖醋烧鱼</span>
						</a>
						<div
							class="caption"
							data-title="南北湖醋烧鱼"
							data-description="海盐拥有着浙北地区最长的海岸线，古时候渔业资源丰富，沿海百姓以捕鱼和晒盐为生。但是村民出海捕鱼经常无法按时吃饭，再加上吹拂的海风中和身处的空气中盐度较高，夏天煮好的鱼汤非常容易馊掉。勤劳、聪明的南北湖人想到醋有杀菌的作用，就在烧鱼汤时加入了白醋，没想到这种烧法不但延长了汤的存放时间、不改变汤的颜色，而且令汤更可口、更开胃。南北湖醋烧鱼也叫南北湖醋鱼汤，用取自南北湖中的生态有机鱼（胖头鱼），炖出乳白色的汤汁，在出锅前，加入白醋及韭芽段。这道醋鱼汤酸鲜爽口，还有韭芽的香味沁入鱼肉，闻着香，吃着鲜。用醋做成的鱼汤，在海盐澉浦已有千年历史，一举多得，我们不得不感叹古人的独特创意。如今，澉浦后人在醋烧鱼的基础上，增创了“一鱼两吃”的烹制方法，即鱼头红烧，鱼尾煮汤，尝遍整条鱼的美味。">
							<%= image_tag "1.png" %>
						</div>
					</li>
					<li>
						<a href="#">
							<span>一品田园螺</span>
						</a>
						<div
							class="caption"
							data-title="一品田园螺"
							data-description='原料选自田螺、鲜猪肉，辅料配以海盐本地大头菜。一品田园螺不仅味美可口，体现当地特色，而且具有很高的营养价值和药用价值。营养价值：田螺的可食部每100克约含水分81克、蛋白质10.7克、脂肪1.2克、碳水化物4克、灰分3.3克，又含钙1357毫克、磷19l毫克、铁19.8毫克、硫胺素0.05毫克、核黄素0.17毫克、尼克酸2.2毫克、维生素A130国际单位。<br>药用价值：田螺具有很高的药用价值，清热利水、除湿解毒。用于热结小便不通、黄疸、脚气、水肿、消渴、痔疮、便血、目赤肿痛、疔疮肿毒。《本草拾遗》中记载："煮食之，利大小便，去腹中结热，目下黄，脚气冲上，小腹结硬，小便赤涩，脚手浮肿；生浸取汁饮之，止消渴；碎其内敷热疮。"'>
							<%= image_tag "2.png" %>
					</li>
					<li>
						<a href="#">
							<span>海盐大头菜</span>
						</a>
						<div
							class="caption"
							data-title="海盐大头菜"
							data-description="奶海盐大头菜生产历史已有700多年，宋朝《澉水志》和明朝《海盐 县志》，都有关于大头菜的种植记录。它作为海盐传统的腌制加工蔬菜，仍名闻江浙沪一带，享有较大的声誉，深受消费者的喜爱，特别是上海人对海盐大头菜有特别的钟爱。大头菜即芥菜，又称芜菁、芥辣、芥菜疙瘩，是芥菜的一个变种，为根用芥菜。大头菜加工制作过程非常精细，有切、晒、腌、翻等7道工序，尤其是腌制，不仅坛的选择有讲究，而且盐和菜的比例很难把握，没有一定的标准，如果把握不好，腌制出来的大头菜口感、颜色就会大变。经腌制后的大头菜，鲜味足、香脆爽口、略带一点酸、风味独特，它可直接生吃，也可作炒菜或浇汤，与其它菜类搭配可配比出各色各样的各种花色菜肴，口味纯真，鲜不释口。海盐大头菜已被评为优质农产品产品。">
							<%= image_tag "3.png" %>
						</div>
					</li>
					<li>
						<a href="#">
							<span>澉浦红烧羊肉</span>
						</a>
						<div
							class="caption"
							data-title="澉浦红烧羊肉"
							data-description="澉浦红烧羊肉是海盐县南北湖的一道名菜。几百年来，澉浦红烧羊肉一直作为当地宴请，逢年过节待客的主要大菜，以色泽红亮、浓香扑鼻、酥而不烂、油而不腻而享誉杭、嘉、湖一带。现今，到南北湖风景区内的任何一家宾馆、农家饭店都能品尝到澉浦红烧羊肉的美味。早在二十世纪三十年代，澉浦羊肉已驰名沪上。很多上海人开着小汽车特地到澉浦来吃羊肉。时至今日，一提起海盐南北湖，一些老上海便要联想起澉浦红烧羊肉。寒冬腊月里正是吃羊肉的最佳季节。在冬季，人体的阳气潜藏于体内，所以身体容易出现手足冰冷，气血循环不良的情况。按中医的说法，羊肉味甘而不腻，性温而不燥，具有补肾壮阳、暖中祛寒、温补气血、开胃健脾的功效，所以冬天吃羊肉，既能抵御风寒，又可滋补身体，实在是一举两得的美事。">
							<%= image_tag "5.png" %>
						</div>
					</li>
				</ul>
		  	</div>
		  	<!-- FOOD END -->
		  	<!-- HOTEL -->
		    <div class="hotel">
		  		<ul class="tt-wrapper">
		  			<li>
		  				<%= link_to "http://www.wanjinghotel.com", {:class=>"tt_one"} do %>
		  					<span>南北湖湾景宾馆<br>★★</span>
		  				<% end %>
		  			</li>
		  			<li>
		  				<%= link_to "http://hotels.ctrip.com/hotel/136882.html", {:class=>"tt_two"} do %>
		  					<span>桃园山庄度假村</span>
		  				<% end %>
		  			</li>
		  			<li>
		  				<%= link_to "http://www.dianping.com/shop/3996442", {:class=>"tt_three"} do %>
		  					<span>月亮城堡酒店<br>★★★</span>
		  				<% end %>
		  			</li>
		  			<li>
		  				<%= link_to "http://hotels.ctrip.com/hotel/45239.html", {:class=>"tt_four"} do %>
		  					<span>南北湖金牛山大酒店<br>★★★</span>
		  				<% end %>
		  			</li>
		  			<li>
		  				<%= link_to "http://www.sunny-hotels.com/cn/reservation.html", {:class=>"tt_five"} do %>
		  					<span>香溢大酒店<br>★★★</span>
		  				<% end %>
		  			</li>
		  			<li>
		  				<%= link_to "http://www.hzbi-hotel.com/", {:class=>"tt_six"} do %>
		  					<span>杭州湾国际酒店★★★★</span>
		  				<% end %>
		  			</li>
		  			<li>
		  				<%= link_to "http://hotels.ctrip.com/hotel/50022.	html#ctm_ref=hd_0_0_0_0_lst_sr_1_df_ls_14_n_hi_0_0_0", {:class=>"tt_seven"} do %>
		  					<span>海盐宾馆<br>★★★</span>
		  				<% end %>
		  			</li>
		  			<li>
		  				<%= link_to "http://www.hyih.com/", {:class=>"tt_eight"} do %>
		  					<span>国际大厦<br>★★★</span>
		  				<% end %>
		  			</li>
		  		</ul>
		    </div>
		    <!-- HOTEL END -->
		    <!-- ENTERTAINMENT -->
				<div class="entertainment">
					<div class="topbar">
						<span id="close" class="back">&larr;</span>
						<h2></h2><h3 id="name"></h3>
					</div>
					<div class="enter-container">
						<ul id="tp-grid" class="tp-grid">
						<!-- KTV -->
						<li data-pile="KTV">
							<a href="http://drbl.in/cmVe">
								<span class="tp-info"><span>KTV1</span></span>
								<%= image_tag "1/1.jpg" %>
							</a>
						</li>
						<li data-pile="KTV">
							<a href="http://drbl.in/cmhM">
								<span class="tp-info"><span>KTV2</span></span>
								<%= image_tag "1/2.jpg" %>
							</a>
						</li>

						<!-- CAFE -->
						<li data-pile="CAFE">
							<a href="http://drbl.in/eiUm">
								<span class="tp-info"><span>CAFE1</span></span>
								<%= image_tag "2/1.jpg" %>
							</a>
						</li>
						<li data-pile="CAFE">
							<a href="http://drbl.in/ekMY">
								<span class="tp-info"><span>CAFE2</span></span>
								<%= image_tag "2/2.jpg" %>
							</a>
						</li>

						<!-- BAR -->
						<li data-pile="BAR">
							<a href="http://drbl.in/fzUB">
								<span class="tp-info"><span>BAR1</span></span>
								<%= image_tag "3/1.jpg" %>
							</a>
						</li>
						<li data-pile="BAR">
							<a href="http://drbl.in/fQEv">
								<span class="tp-info"><span>BAR2</span></span>
								<%= image_tag "3/2.jpg" %>
							</a>
						</li>

						<!-- GYM & MASSAGE -->
						<li data-pile="GYM & MASSAGE">
							<a href="http://drbl.in/cyWa">
								<span class="tp-info"><span>GYM &amp; MASSAGE1</span></span>
								<%= image_tag "4/1.jpg" %>
							</a>
						</li>
						<li data-pile="GYM & MASSAGE">
							<a href="http://drbl.in/cRkb">
								<span class="tp-info"><span>GYM &amp; MASSAGE2</span></span>
								<%= image_tag "4/2.jpg" %>
							</a>
						</li>
						</ul>
					</div>
				</div>
		    <!-- ENTERTAINMENT END -->
		    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" %>
				<%= javascript_include_tag "jquery.stapel.js" %>
				<script type="text/javascript">	
			$(function() {

				var $grid = $( '#tp-grid' ),
					$name = $( '#name' ),
					$close = $( '#close' ),
					$loader = $( '<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>' ).insertBefore( $grid ),
					stapel = $grid.stapel( {
						onLoad : function() {
							$loader.remove();
						},
						onBeforeOpen : function( pileName ) {
							$name.html( pileName );
						},
						onAfterOpen : function( pileName ) {
							$close.show();
						}
					} );

				$close.on( 'click', function() {
					$close.hide();
					$name.empty();
					stapel.closePile();
				} );

			} );
		</script>
		</div>
	</body>
</html>
